PORT=3000
NODE_ENV=development
DATABASE_URL=postgresql://townbase:townbase@localhost:5432/townbase?schema=public
POSTGRES_USER=townbase
POSTGRES_PASSWORD=townbase
POSTGRES_DB=townbase
REPO_ROOT_PATH=./repos

